.blog {
    font-family: 'Noto Sans';
    @include header_white;
    @include subtitle_page;
    .subtitle {
        display: flex;
        position: relative;
        &_img {
            position: absolute;
            left: 62.5%;
            top: -14.48%;
        }
    }
}
.blog_carusel {
   z-index: -1;
    margin-top: 100px;
    &__wrap {
        .btn__group__blog {
            position: relative;
            @include group_btn;
            justify-content: space-between;
            .swiper-pagination{
                position: absolute;
                bottom: -52px;
                left: 38%;
                .swiper-pagination-bullet {
                    // display: block;
                    width: 50px;
                    height: 50px;
                    font-family: 'Noto Sans';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 160%;
                    text-align: center;
                    line-height: 20px;
                    font-size: 16px;
                    padding: 14px 15px 15px 15px;
                    color: #000;
                    opacity: 1;
                    background: rgba(255, 255, 255, 1);
                }
                .swiper-pagination-bullet-active {
                    border-radius: 0%;
                    border: 1px solid #007aff;
                }
            }

        }
    }
    
       
    
        
    
    
}