.btn {
    font-family: 'Noto Sans', sans-serif;
    padding: 34px 50px;
    background: $main_color;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: $white_color;
    border: none;
    &:hover {
        background-color: $bg_color ;
    }
}