

.contract{
    font-family: 'Noto Sans';
    @include line;
    @include title;
    
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        
    }
    &__item {
        max-width: 480px;
        border: 1px solid $light_color;
        margin: 0;
        padding: 0;
        &:hover {
            border: 1px solid $light_blue;
            .item__subtitle {
                color: $light_blue;
            }
        }
        .item__text {
            max-width: 480px;
            height: 293px;
        }
        .item__subtitle {
            
            font-weight: 400;
            font-size: 28px;
            line-height: 160%;
            color: $grey_color;
            margin-left: 50px;
            
        }
        .item__descr {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: $dark_grey;
            max-width: 310px;
            margin-left: 50px;
            // margin-bottom: 100px;
        }
        .item__img {
          
            max-width: 480px;
            max-height: 300px;

        }
    }
}
@media (max-width: 1590px) {
    .contract {
        &__wrap {
            justify-content: space-around;
        }
    }
}
@media (max-width: 992px) {
    .contract {
        .title {
            text-align: center;
        }
        &__item {
            margin-bottom: 50px;
            border: 1px solid $dark_grey;
        }
    }
}
@media (max-width: 576px) {
    .contract {
        
        &__item {
            img {
                width: 100%;
            }
        }
    }
}