

.partner {
    @include line;
    @include title;
    .title{
        max-width: 700px;
    }
    &__wrap {
        display: flex;
    }
    &__sphere {
        &_wrap {
            display: flex;  
            justify-content: space-between;
        }
        
        &__list {
            
            list-style: none;
            padding: 0;
            margin: 0;
            columns: 2 310px;
            column-gap: 50px;

            .list__item {
                display: flex;
                align-items: center;
                max-width: 310px;
                max-height: 230px;
                margin-bottom: 20px;
                .item__icon {
                    margin-right: 20px;
                }
            }
        }
        
    }
    &__icons {
        width: 720px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        .icons {
            width: 240px;
            height: 160px;
            border: 1px solid $light_color;
            padding: 0 50px;
            &:hover {
                border: 1px solid $light_blue; 
                a {
                    svg {
                        .yellow {
                            fill: #fdbd10;
                        }
                        .red {
                            fill: #ec1c24;
                        }
                        .blue {
                            fill: #0066b2
                        }
                    }
                }
            }
        }
       
    }
}